.nick-home{
    background-image: url(../../assets/brick-background.jpg);
}

.nick-home-cards{
    background-color: #E0DBD6;
}
.nick-home-outro{
    background-color: #E0DBD6;
}
.nick-home-title{
    font-weight: bolder;
}
.nick-home-intro{
    background-color: #01539C;
    color: white;
    border: 3px solid black;
}
