@import "../../styles/variables";

.nick-navbar{
    width: 100vw;
    height: 5rem;
    background-color: black;

    img{
       height: 3rem;
     }

    .nick-menu{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.8rem;
        height: 2.8rem;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: 2px solid $legoYellow;
        .nick-menu-burger{
            width: 2rem;
            height: 0.2rem;
            background: $legoYellow;
            border-radius: 5px;
            transition: all .5s ease-in-out;
            &::before, &::after {
                content: '';
                position: absolute;
                width: 2rem;
                height: 0.2rem;
                background: $legoYellow;
                border-radius: 5px;
                transition: all .3s ease-in-out;
            }
            &::before{
                transform: translateY(-0.6rem)
            }
            &::after{
                transform: translateY(0.6rem);
            }
        }
        .expanded{
            width: 2rem;
            height: 0.2rem;
            background: $legoYellow;
            border-radius: 5px;
            transition: all .3s ease-in-out;
            transform: translateX(-50px);
            &::before {
                transform: rotate(45deg) translate(35px, -35px);
              }
            &::after {
                transform: rotate(-45deg) translate(35px, 35px);
              }
            
        }
    }

}




